<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-show</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
      <p>
        Show and If work slightly differently. Show works best for toggles as it
        stays in the dom. If will add or remove from the dom.
      </p>
      <p v-show="show">Show it</p>
      <p v-show="!show">Don't show it</p>
      <p v-if="show">Show it IF</p>
      <p v-else="show">Else show it IF</p>
      <p v-if="!show">Don't show it IF</p>
    </div>
    <p>
      <a href="https://www.w3schools.com/vue/vue_v-show.php" target="_blank"
        >W3 Schools Vue v-show</a
      >
    </p>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            show: true,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
