<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
      <form v-on:submit.prevent="addItem">
        <p>Add Item</p>
        <p>Item name: <input type="text" required v-model="itemName"/></p>
        <p>How many: <input type="number"  v-model="itemNumber"/></p>
        <button type="submit">Add Item</button>
      </form>
        <a href="https://www.w3schools.com/vue/vue_forms.php"
          >W3 Schools Vue Forms</a
        >
      </p>
      <p>Shopping List</p>
      <ul>
        <li v-for="item in shoppingList">{{item.name}} - {{item.number}}</li>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            itemName: null,
            itemNumber: null,
            shoppingList: [{name: 'Tomatoes', number: 5}]
          };
        },
        methods: {
          addItem() {
            let item = {name : this.itemName, number : this.itemNumber}
            this.shoppingList.push(item)
            this.itemName = null
            this.itemNumber = null
          }
        }
      });
      app.mount("#app");
    </script>
  </body>
</html>
